<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ScorllSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDE000F01E0A658A002CE5FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDE001041E0A658A002CE5FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDE0010F1E0A658A002CE5FF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
